<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  
  <title>20 Day AVG</title>
<style>
 *{
   text-align: center;
 }
.row{
  display: grid;
  background-color: lightgray;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
form{
  padding-top: 12px;
}
.table{
  display: grid;
  height:500px;
  overflow:auto;  
  margin-top:20px;
}
.tableHeader{
  display: grid;
  background-color: silver;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  position: sticky;
  top: 0px;
}


</style>
</head>
<body>
  <nav>
        
        
  </nav>
  <main>
    <h1>20 Day Rolling Average</h1>
    
    <%- body %>
  </main>
</body>
</html>