
<br><br>
<form action="/symbols/index" method="GET">
    <input placeholder="UserName" type="text" required><br><br>
    <input placeholder="Password" type="password" required><br><br>
    <input type="submit">



</form>