*{
    text-align: center;
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* background-image: linear-gradient(to right, #042A2B,#5EB1BF,#CDEDF6,#EF7B45,#D84727); */
    
    font-size: 12px;
  }
 
 .row{
   display: grid;
   background-color: lightgray;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
   position: relative;
   
 }
 u{
  color: green;
}
 

  .row {
    display: flex;
  }
 
 .w3row{
  margin-left:-5px;
  margin-right:-5px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  

  
 } 
  

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: inline-block;
  }
 
  th{
    position:sticky;
    background: white;
    top: 0;
  }
 
 
  .mainheading{
    margin-left: 80px;
    margin-right: 80px;
   
  }
 td{
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
 }
 th{
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
 }
 .tableHeaders{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-content: center;
   border-bottom: 5px solid #688DB6;
   border-top: 5px solid #688DB6;
 }

 
 .details{
  display: flexbox;

  align-content: flex-end;
}
.descriptions{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: #688DB6; 
  border: 1px solid green;
}
.box{
  width: 250px;
  border: 2px solid black;
  
  background-color: white;
  margin: 10px;
}


 /* colors  */
 /* 042A2B
 5EB1BF
 CDEDF6
 EF7B45
 D84727 */
 

.forcolor{
  background-color: #688DB6;
  border: 1px solid green;
}
#filterText{
  color: white;
}
#submitbutton{
  border-radius: 5px;
}
#buttonid{
  color: white;
}



