*{
    text-align: center;
    /* border: 1px solid black; */
    box-sizing: border-box;
  }
 .row{
   display: grid;
   background-color: lightgray;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
   position: relative;
   
 }
 

 
  .bigtable{
   display: grid;
   overflow:auto;  
   justify-content: center;
   vertical-align: top;
   align-content: center;
  }

  .table{
    overflow:auto; 
  
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
   


   
  

 .smtable{
   /* display: grid; */
   height:250px;
   /* width: 170px; */
   overflow:auto;  
  float: left;
  /* margin-right: 25px; */
  height: 500px
 }

 .smtableHeader{
   display: grid;
   background-color: silver;
   grid-template-columns:1fr ;
   position: sticky;
   top: 0px;

 }
 .smrow{
    display: grid;
    background-color: lightgray;
    grid-template-columns: 1fr 1fr;
  }
  u{
      color: green;
  }

  #addBtn{
    float: left;
    
  }
  #updateBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    
  }
  #filterBtn{
  
  }

 
  .row {
    display: flex;
  }
 
 .w3row{
  margin-left:-5px;
  margin-right:-5px;
 } 
  .w3column {
  float: left;
  width: 120px;
  padding: 5px;
} 
.w3row::after {
  content: "";
  clear: both;
  display: table;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: inline-block;
  }
  .bothtables{
    display: flexbox;
  }
  th{
    position:sticky;
    background: white;
    top: 0;
  }